<div class="container">

    <div class="d-flex flex-column mx-5">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="font-weight-bold ">Gerenciar tarefas</h3>
        <button class="btn btn-primary rounded-pill" (click)="openSlidePanel()">
          + Adicionar
        </button>
      </div>
      <div class="mt-3 bg-white shadow">
        @for (item of tasks; track $index) {
        <app-task-card [status]="item.status" [task]="item"></app-task-card>
        }
      </div>
    </div>
  
    <app-slide-panel [headerText]="'Adicionar tarefa'" [isOpen]="isSlidePanelOpen" (onClose)="onCloseSlidePanel()">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
        <div class="form-group mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" id="title" class="form-control"
            [class]="{'invalid': taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched, 'valid':taskForm.get('title')?.valid}"
            placeholder="Title" formControlName="title">
          @if (taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched) {
          <span class="form-error">Title is required.</span>
          }
        </div>
        <div class="form-group mb-3">
          <label for="description" class="form-label">Descrição</label>
  
          <textarea name="" rows="10" class="form-control"
            [class]="{'invalid': taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched, 'valid':taskForm.get('description')?.valid}"
            placeholder="Description" formControlName="description"></textarea>
          @if (taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched) {
          <span class="form-error">Description is required.</span>
          }
        </div>
        <div class="form-group mb-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-select"
            [class]="{'invalid': taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched, 'valid':taskForm.get('status')?.valid}"
            formControlName="status">
            @for (item of taskStatus; track $index) {
            <option [value]="item">{{item}}</option>
            }
          </select>
          @if (taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched) {
          <span class="form-error">status is required.</span>
          }
        </div>
        <div class="form-group mb-3">
          <label for="deadline" class="form-label">Prazo</label>
          <input type="text" id="deadline" class="form-control"
            [class]="{'invalid': taskForm.get('deadline')?.hasError('required') && taskForm.get('deadline')?.touched, 'valid':taskForm.get('deadline')?.valid}"
            placeholder="Prazo" formControlName="deadline">
          @if (taskForm.get('deadline')?.hasError('required') && taskForm.get('deadline')?.touched) {
          <span class="form-error">Insira o prazo</span>
          }
        </div>
        <div class="form-group mb-3">
          <label for="priority" class="form-label">Prioridade</label>
          <select class="form-select"
            [class]="{'invalid': taskForm.get('priority')?.hasError('required') && taskForm.get('priority')?.touched, 'valid':taskForm.get('priority')?.valid}"
            formControlName="priority">
            @for (item of taskPriorities; track $index) {
            <option [value]="item">{{item}}</option>
            }
          </select>
          @if (taskForm.get('priority')?.hasError('required') && taskForm.get('priority')?.touched) {
          <span class="form-error">Insira a prioridade</span>
          }
        </div>
        <div class="form-group mb-3">
          <label for="responsable" class="form-label">Responsável</label>
          <select class="form-select"
            [class]="{'invalid': taskForm.get('responsable')?.hasError('required') && taskForm.get('responsable')?.touched, 'valid':taskForm.get('responsable')?.valid}"
            formControlName="responsable">
            @for (item of taskResponsables; track $index) {
            <option [value]="item">{{item}}</option>
            }
          </select>
          @if (taskForm.get('responsable')?.hasError('required') && taskForm.get('responsable')?.touched) {
          <span class="form-error">Insira o responsável</span>
          }
        </div>
        <div class="flex gap-2">
          <button type="submit" class="btn btn-success">Adicionar</button>
          <button type="button" class="btn btn-secondary" (click)="onCloseSlidePanel()">Cancelar</button>
        </div>
      </form>
    </app-slide-panel>
  </div>