<div class="d-flex justify-content-between border px-6 m-1" [class]="{'border-danger': task.prioridade === 'ALTA','border-warning': task.prioridade === 'MEDIA',
'border-info': task.prioridade === 'BAIXA',
}">
    <div class=" pl-4 ">
        <p class="text-muted">#{{task.id}}</p>
        <h4 class="font-weight-bold">{{task.titulo}}</h4>
        <p class="text-muted ">{{task.descricao}}</p>
        <p class="text-muted ">{{task.nome_usuario}}</p>
    </div>
    <div>
        @if (status === 'ANDAMENTO') {
        <button class="btn-primary text-white m-4 p-1  disabled">
            Em andamento
        </button>
        }

        @if (status === 'CONCLUIDA') {
        <button class="btn-success text-white m-4 p-1  disabled">
            Concluída
        </button>
        }
    </div>
</div>