<header class="app-header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-0">
        <div class="container">
            <a href="" class="navbar-brand">
                EsigTasker
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon">
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#learn" class="nav-link active">Quadro de tarefas</a>
                    </li>
                </ul>
                <span>
                    <a class="navbar-text" (click)="onLogout()">Sair</a>
                </span>
            </div>
        </div>
    </nav>
</header>